name: chain_analytics
description: On-chain analytics for Flutter. Track app events on blockchain for permanent, verifiable, cost-effective analytics you own.
version: 0.1.0
homepage: https://github.com/Utitofon-Udoekong/chain_analytics
repository: https://github.com/Utitofon-Udoekong/chain_analytics
issue_tracker: https://github.com/Utitofon-Udoekong/chain_analytics/issues
license: MIT

topics:
  - analytics
  - blockchain
  - web3
  - flutter
  - ethereum

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  archive: ^4.0.7
  crypto: ^3.0.6
  flutter:
    sdk: flutter
  flutter_secure_storage: ^9.2.4
  http: ^1.5.0
  path: ^1.9.1
  sqflite: ^2.4.2
  uuid: ^4.5.1
  wallet: ^0.0.18
  web3dart: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  mockito: ^5.4.4
  sqflite_common_ffi: ^2.3.0
  build_runner: ^2.4.8
  fake_async: ^1.3.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package


